<%- partial('pastResult') %>
<%- partial('navigator') %>
<div class=container>
	<div class=row>
		<div class=col-md-7>
			<div class="panel panel-material-light-blue-400">
				<div class="panel-heading">
					<h3 class="panel-title">選秀結果</h3>
				</div>
				<table class="table table-bordered" id=result >
					<tr>
						<th></th>
						<% _.each(teams, function (team) { %>
							<th><%= team.cname %></th>
						<% });%>
					</tr>
					
					<% for (var round = 1; round <= resultTable.numOfRound + 3; round++) { %>
						<tr>
							<th><%= round %></th>
							<% _.each(teams, function (team) { %>
								<td team="<%= team.ename %>" round="<%= round %>"><%= resultTable[team.ename][round] || '' %></td>
							<% });%>
						</tr>
					<% } %>
				</table>
			</div>
		</div>
		<div class="col-md-4 col-md-offset-1">
			<div class="panel panel-material-light-blue-400">
				<div class="panel-heading">
					<h3 class="panel-title">選手名單</h3>
				</div>
				<table class="table table-bordered" id=slate >
					<tr>
						<% var groups = [], numOfGroup = 4;
							for (var i = 0, j = candidates.length; i < j; i += numOfGroup) {
							  groups.push(candidates.slice(i, i + numOfGroup));
							}
						%>
						<% _.each(groups, function (group) { %>
							<tr>
								<% _.each(group, function (candidate) { %>
									<% var className = 'candidate ' + (_.find(pickedCandidates, {name: candidate.name}) ? 'picked' : ''); %>
									<% var ignoreTeams = ignoreCandidates[candidate.name] ? _.pluck(ignoreCandidates[candidate.name], 'team').join(' ') : ''; %>
									<td class='<%= className %>' ignoreteams='<%= ignoreTeams %>'><%= candidate.name %></td>
								<% }); %>
								<% for (var offset = 0; offset < (numOfGroup - group.length); offset++) { %>
									<td class=forbidden ></td>
								<% }; %>							
							</tr>
						<% }) %>
						<tr>
							<td class=candidate colspan="<%= numOfGroup %>">放棄</td>
						</tr>
					</tr>		
				</table>
			</div>
			<div class="panel panel-default">
				<div class="panel-body" style="text-align:center;">
			<% if (!user) { %>
				<a href="/login" class="btn btn-primary btn-lg">登入參加模擬選秀</a>
			<% } else { %>	
				<div id=ballot>
					<form>
						<input type=hidden name=round >
						<input type=hidden name=draftNo >
						<button id=submit type="submit" class="btn btn-danger btn-lg btn-raised" disabled>指名</button>
					</form>
				</div>
			<% } %>
				</div>
			</div>
			<div class="footer">
				<div class="panel panel-material-light-blue-400">
					<div id=stopWatch class="panel-body flex-container">
						<div id=clock class="flex-item clock"></div>
						<div id=bulletin class="flex-item bulletin"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
var myTeam = '<%= teamBelongsTo %>';
</script>